---
layout: default
title: Home
---

<header class="clean page-header" style="background-image: url({{ site.cover }}); {% if site.parallax != true %}background-attachment: scroll;{% endif %}" data-stellar-background-ratio="0.5" data-stellar-horizontal-offset="50">
	{% include top.html %}
	<a href="{{ site.url }}{{ site.baseurl }}">
		<div id="home-title" class="site-icon-home" style="background-image: url({{ site.icon }});"></div>
	</a>
</header>
<div class="middle">
<div id="post-list">
	{% for post in paginator.posts %}
		<div>
			<span class="post-date">{{ post.date | date_to_long_string }}</span>
			<h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
			<p class="post-description">{% if post.quote %}{{ post.quote }}{% else %}{{ post.content | strip_html | truncatewords: 50 }}{% endif %}</p>
		</div>
		<br>
	{% endfor %}
</div>
<nav class="pagination" role="navigation">
	{% if paginator.next_page %}
		<a class="newer-posts" href="{{ site.baseurl }}/page{{paginator.next_page}}">&larr; Older posts</a>
	{% endif %}
	<span class="page-number">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
	{% if paginator.previous_page %}
		{% if paginator.page == 2 %}
			<a class="older-posts" href="{{ site.baseurl }}/">Newer posts &rarr;</a>
		{% else %}
			<a class="older-posts" href="{{ site.baseurl }}/page{{paginator.previous_page}}">Newer posts &rarr;</a>
		{% endif %}
	{% endif %}
</nav>
</div>
<footer class="clean page-footer" style="background-image: url({{ site.cover }}); background-position: bottom; {% if site.parallax != true %}background-attachment: scroll;{% endif %}">
	<p class="copyright">&copy;{{ site.time | date: "%Y" }}, <a href="{{ site.copyright.url }}" target="_blank">{{ site.copyright.author }}</a>. <a href="{{ site.copyright.type_url }}" target="_blank">{{ site.copyright.type_title }}</a>.</p>
</footer>
