{% if site.commentsystem == "disqus" %}
	<div id="disqus_thread"></div>
	<script type="text/javascript">
		var disqus_shortname = '{{ site.disqus }}';
		var disqus_url = '{{ site.url }}/{{ site.baseurl }}/{{ page.url }}';

		(function() {
			var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
			dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
			(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
		})();
	</script>
	<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{% elsif site.commentsystem == "google" %}
	{% capture canonical %}{{ site.url }}{% if site.permalink contains '.html' %}{{ page.url }}{% elsif site.permalink contains category_dir %}{{ '/' | page.url | remove:'index.html' | '/' }}{% else %}{{ page.url | remove:'index.html' | '/' }}{% endif %}{% endcapture %}
	<script src="https://apis.google.com/js/plusone.js"></script>
	<div id="g-comments" class="g-comments" data-href="{{ canonical }}" data-width="700" data-first_party_property="BLOGGER" data-view_type="FILTERED_POSTMOD"></div>
	<script>
		var width = $('#box-comments').width() * 0.9;
		width = Math.round(width);
		$("#g-comments").attr({ "data-width": width });
	</script>
{% endif %}
