<head>
	{% capture canonical %}{{ site.url }}{{ site.baseurl }}{% if site.permalink contains '.html' %}{{ page.url }}{% elsif site.permalink contains category_dir %}{{ '/' | page.url | remove:'index.html' | '/' }}{% else %}{{ page.url | remove:'index.html' | '/' }}{% endif %}{% endcapture %}
	<title>{% if page.title == "Home" %}{{ site.title }} &middot; {{ site.tagline }}{% else %}{{ page.title }} &middot; {{ site.title }}{% endif %}</title>
	<link href="//gmpg.org/xfn/11" rel="profile">
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	{% if page.article %}
	<link rel="canonical" href="{{ canonical }}" />
	<meta name="description" content="{% if page.quote %}{{ page.quote }}{% else %}{{ page.content | strip_html | truncatewords: 20 }}{% endif %}" />
	<meta property="og:description" content="{% if page.quote %}{{ page.quote }}{% else %}{{ page.content | strip_html | truncatewords: 20 }}{% endif %}" />
	<meta itemprop="image" content="{% if page.image.url %}{{ site.url }}{{ site.baseurl }}{{ page.image.url }}{% else %}{{ site.url }}{{ site.baseurl }}{{ site.icon }}{% endif %}" />
	<meta property="og:image" content="{% if page.image.url %}{{ site.url }}{{ site.baseurl }}{{ page.image.url }}{% else %}{{ site.url }}{{ site.baseurl }}{{ site.cover }}{% endif %}" />
	<meta property="og:title" content="{{ page.title }}" />
	<meta property="og:type" content="article" />
	<meta property="og:url" content="{{ canonical }}" />
	<meta property="og:site_name" content="{{ site.title }}" />
	{% endif %}
	{% if site.twitter and site.author.twitter and page.article %}
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@{{ site.twitter }}">
	<meta name="twitter:creator" content="@{{ site.author.twitter }}">
	<meta name="twitter:title" content="{{ page.title }}">
	<meta name="twitter:description" content="{% if page.quote %}{{ page.quote }}{% else %}{{ page.content | strip_html | truncatewords: 20 }}{% endif %}">
	<meta name="twitter:image:src" content="{% if page.image.url %}{{ site.url }}{{ site.baseurl }}{{ page.image.url }}{% else %}{{ site.url }}{{ site.baseurl }}{{ site.cover }}{% endif %}">
	{% endif %}
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="HandheldFriendly" content="True" />
	<meta name="MobileOptimized" content="320" />
	<meta name="theme-color" content="#{% if page.color %}{{ page.color }}{% else %}{{ site.color }}{% endif %}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, ya-title=fade, ya-dock=fade" />
	<link rel="stylesheet" type="text/css" media="screen" href="{{ site.baseurl }}/assets/style.css" />
	<link href="{{ site.baseurl }}/assets/css/genericons.css" type="text/css" rel="stylesheet" />
	<link href="{{ site.baseurl }}/assets/css/syntax.css" type="text/css" rel="stylesheet" />
	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Fenix|Lato:400,400italic">
	<link rel="apple-touch-icon" href="{{ site.url }}{{ site.baseurl }}{{ site.icon }}">
	<link rel="shortcut icon" href="{{ site.url }}{{ site.baseurl }}/assets/images/favicon.ico">
	<link rel="alternate" type="application/rss+xml" title="RSS" href="{{ site.url }}{{ site.baseurl }}/atom.xml">
	{% if page.color %}
	<style>
		a,
		.pagination .older-posts:hover,
		.pagination .newer-posts:hover {
			color: #{{ page.color }};
		}

		#article a:hover {
			border-bottom: 2px solid #{{ page.color }};
		}
	</style>
	{% endif %}
	<script type="text/javascript" src="{{ site.baseurl }}/assets/js/jquery-2.1.0.min.js"></script>
	{% if site.parallax %}
	<script type="text/javascript" src="{{ site.baseurl }}/assets/js/jquery.stellar.min.js"></script>
	{% endif %}
	{% if site.google_analytics %}
	<!-- Asynchronous Google Analytics snippet -->
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', '{{ site.google_analytics }}', 'auto');
		ga('send', 'pageview');
	</script>
	{% endif %}
</head>
