<div class="article-img"><a href="{{ site.baseurl }}{{ include.url }}" target="_blank"><img src="{{ site.baseurl }}{{ include.url }}" alt="{{ include.description }}"{% if include.width %} width="{{ include.width }}"{% endif %} /></a>
<blockquote>{{ include.description }}</blockquote></div>
