<label class="menu dropdown-menu" for="menu-trigger">
	<span class="genericon genericon-menu"></span>
</label>
<input id="menu-trigger" class="menu-trigger" type="checkbox">
<div class="menu-content">
	<p class="menu-title">{{ site.title }}<p>
	{% for item in site.menu %}
		<a href="{{ site.baseurl }}/{{ item.url }}">{{ item.title }}</a>
	{% endfor %}
	<hr class="menu-title">
	{% for social in site.social %}
		<a href="{{ social.url }}" class="social-menu" target="_blank" title="{{ social.desc }}"><span class="genericon genericon-{{ social.icon }}"></span></a>
	{% endfor %}
</div>

{% if page.article %}
<div class="top-icon back" data-stellar-ratio="0.1">
	<a href="{{ site.url }}{{ site.baseurl }}" title="Go back to {{ site.title }}"><span class="genericon genericon-previous"></span></a>
</div>

<label class="menu top-icon share" for="share-trigger">
	<span class="genericon genericon-share" title="Share this post"></span>
</label>
<input id="share-trigger" class="share-trigger" type="checkbox">
<div class="share-content">
	<label class="menu top-icon share" for="share-trigger"><span class="genericon genericon-share share-bg"></span></label>
	<span class="genericon genericon-rightarrow arrow"></span>
{% capture canonical %}{{ site.url }}{{ site.baseurl }}{% if site.permalink contains '.html' %}{{ page.url }}{% elsif site.permalink contains category_dir %}{{ '/' | page.url | remove:'index.html' | '/' }}{% else %}{{ page.url | remove:'index.html' | '/' }}{% endif %}{% endcapture %}
	<a href="https://www.facebook.com/sharer/sharer.php?u={{ canonical }}" class="share-menu" target="_blank" title="Post on Facebook"><span class="genericon genericon-facebook-alt"></span><span>Post</span></a>
	<br>
	<a href="https://twitter.com/home?status={% if page.quote %}{{ page.quote }} {% endif %}{{ canonical }}" class="share-menu" target="_blank" title="Tweet"><span class="genericon genericon-twitter"></span><span>Tweet</span></a>
	<br>
	<a href="https://pinterest.com/pin/create/button/?url={{ canonical }}&media={% if page.image.url %}{{ site.url }}{{ site.baseurl }}{{ page.image.url }}{% else %}{{ site.url }}{{ site.baseurl }}{{ site.cover }}{% endif %}&description={% if page.quote %}{{ page.quote }}{% endif %}" class="share-menu" target="_blank" title="Pin it"><span class="genericon genericon-pinterest"></span><span>Pin it</span></a>
	<br>
	<a href="https://plus.google.com/share?url={{ canonical }}" class="share-menu" target="_blank" title="Share on Google+"><span class="genericon genericon-googleplus-alt"></span><span>Share</span></a>
	<br>
	<a href="http://www.reddit.com/submit?url={{ canonical }}&title={{ page.title }}" class="share-menu" target="_blank" title="Submit on Reddit"><span class="genericon genericon-reddit"></span><span>Submit</span></a>
</div>

{% elsif page.topbar != false %}

<div class="menu inline-menu top-icon" data-stellar-ratio="0.1">
	{% for item in site.menu %}
		{% if item.title != "Home" %}<a href="{{ item.url }}">{{ item.title }}</a>{% endif %}
	{% endfor %}
</div>

<div class="top-icon social" data-stellar-ratio="0.1">
	{% for social in site.social %}
		<a href="{{ social.url }}" target="_blank" title="{{ social.desc }}"><span class="genericon genericon-{{ social.icon }}"></span></a>
	{% endfor %}
</div>

{% endif %}
