---
layout: default
topbar: false
---

<header class="{% if page.dark %}dark{% else %}clean{% endif %}" style="{% if page.image.url %}background-image: url({{ site.baseurl }}{{ page.image.url }}{% else %}background-color: #e5e5e5{% endif %});{% if page.background_position %} background-position: {{ page.background_position }};{% endif %}height: 100%;">
	{% if page.video %}
		<video id="bg-video" preload="auto" autoplay="true" loop="loop" muted="muted" volume="0">
		{% for format in page.video %}
			<source src="{% for url in format limit:1 offset:1 %}{{ url }}{% endfor %}" type="video/{% for type in format limit:1 %}{{ type }}{% endfor %}">
		{% endfor %}
		</video>
	{% endif %}
	{% include top.html %}
	{{ content }}
</header>
