---
layout: default
---

<header class="clean page-header" style="background-image: url({{ site.cover }}); {% if site.parallax != true %}background-attachment: scroll;{% endif %}" data-stellar-background-ratio="0.5" data-stellar-horizontal-offset="50">
	{% include top.html %}
	<a href="{{ site.url }}{{ site.baseurl }}">
		<div id="home-title" class="site-icon-page" style="background-image: url({{ site.icon }});"></div>
	</a>
	</div>
	<div class="post-info page-info" data-stellar-ratio="0.7">
		<h1>{{ page.title }}</h1>
	</div>
</header>
<div class="middle">
<div id="article">
	{{ content }}
</div>
</div>
<footer class="clean page-footer" style="background-image: url({{ site.cover }}); background-position: bottom; {% if site.parallax != true %}background-attachment: scroll;{% endif %}" data-stellar-background-ratio="0.5" data-stellar-horizontal-offset="50" data-stellar-vertical-offset="50">
	<p class="copyright">&copy;{{ site.time | date: "%Y" }}, <a href="{{ site.copyright.url }}" target="_blank">{{ site.copyright.author }}</a>. <a href="{{ site.copyright.type_url }}" target="_blank">{{ site.copyright.type_title }}</a>.</p>
</footer>
