---
layout: default
article: true
---

<header class="{% if page.dark %}dark{% else %}clean{% endif %} post-header" style="{% if page.color %}background-color: #{{ page.color }};{% endif %}{% if page.image.url %}background-image: url({{ page.image.url }}){% elsif page.color == null %}background-image: url({{ site.cover }}){% endif %}" data-stellar-background-ratio="0.5" data-stellar-horizontal-offset="50">
	{% if page.video %}
		<video id="bg-video" preload="auto" autoplay="true" loop="loop" muted="muted" volume="0" data-stellar-ratio="0.5">
		{% for format in page.video %}
			<source src="{% for url in format limit:1 offset:1 %}{{ url }}{% endfor %}" type="video/{% for type in format limit:1 %}{{ type }}{% endfor %}">
		{% endfor %}
		</video>
	{% endif %}
	{% include top.html %}
	<div class="post-info site-title" data-stellar-ratio="0.7">
		<h1>{{ page.title }}</h1>
		{% if page.quote %}
			<h2>{{ page.quote }}</h2>
		{% endif %}
		<a href="{%if site.author.twitter %}https://twitter.com/{{ site.author.twitter }}{% elsif site.author.url %}{{ site.author.url }}{% else %}{{ site.url }}{% endif %}"><div class="site-icon-small" style="background-image: url({%if site.author.twitter %}https://twitter.com/{{ site.author.twitter }}/profile_image?size=normal{% else %}{{ site.icon }}{% endif %});"></div>{{ site.author.name }}</a>, in {{ page.date | date_to_long_string }}
	</div>
	{% if page.image.source %}
	<div id="img-info" data-stellar-ratio="0.5">
		<a href="{{ page.image.source }}" target="_blank" title="{% if page.video %}Video{% else %}Image{% endif %} Source"><span class="genericon genericon-link"></span></a>
	</div>
	{% endif %}
	<div class="nav-icon" data-stellar-ratio="0.3">
		<a class="scroll" data-speed="500" href="#article"><span class="genericon genericon-expand"></span></a>
	</div>
</header>
<div class="middle">
	<div id="article">
		{{ content }}
	</div>
	{% if site.commentsystem %}{% if page.comments != false %}
	<div id="box-comments">
		{% include comments.html %}
	</div>
	{% endif %}{% endif %}
</div>
{% if page.next %}
	{% capture footer_style %}{% if page.next.dark %}dark{% else %}clean{% endif %}{% endcapture %}
	{% capture footer_color %}{% if page.next.color %}{{ page.next.color }}{% endif %}{% endcapture %}
	{% capture footer_image %}{% if page.next.image.url %}{{ site.baseurl }}{{ page.next.image.url }}{% else %}{{ site.cover }}{% endif %}{% endcapture %}
	{% capture footer_message %}Read next{% endcapture %}
	{% capture footer_url %}{{ site.baseurl }}{{ page.next.url }}{% endcapture %}
	{% capture footer_title %}{{ page.next.title }}{% endcapture %}
	{% capture footer_quote %}{{ page.next.quote }}{% endcapture %}
{% else %}
	{% for post in site.related_posts limit:1 %}
		{% capture footer_style %}{% if post.dark %}dark{% else %}clean{% endif %}{% endcapture %}
		{% capture footer_color %}{% if post.color %}{{ post.color }}{% endif %}{% endcapture %}
		{% capture footer_image %}{% if post.image.url %}{{ site.baseurl }}{{ post.image.url }}{% else %}{{ site.cover }}{% endif %}{% endcapture %}
		{% capture footer_message %}Featured post{% endcapture %}
		{% capture footer_url %}{{ site.baseurl }}{{ post.url }}{% endcapture %}
		{% capture footer_title %}{{ post.title }}{% endcapture %}
		{% capture footer_quote %}{{ post.quote }}{% endcapture %}
	{% endfor %}
{% endif %}
{% unless footer_style %}
	{% capture footer_style %}{% if page.dark %}dark{% else %}clean{% endif %}{% endcapture %}
{% endunless %}
<footer class="{{ footer_style }} post-footer" style="{% if footer_color %}background-color: #{{ footer_color }};{% endif %}{% if footer_image %}background-image: url({{ footer_image }}){% elsif footer_color != '' %}background-image: url({{ site.cover }}){% endif %}" data-stellar-background-ratio="0.5" data-stellar-horizontal-offset="50" data-stellar-vertical-offset="50">
	<div class="nav-icon" data-stellar-ratio="0.8">
		<a class="scroll" data-speed="500" href="#article"><span class="genericon genericon-collapse"></span></a>
	</div>
	<div class="post-info" data-stellar-ratio="0.5" data-stellar-vertical-offset="120">
		<h3>{{ footer_message }}</h3>
		<a href="{{ footer_url }}">
			<h1>{{ footer_title }}</h1>
			{% if footer_quote %}
				<h2>{{ footer_quote }}</h2>
			{% endif %}
		</a>
	</div>
	<p class="copyright">&copy;{{ site.time | date: "%Y" }}, <a href="{{ site.copyright.url }}" target="_blank">{{ site.copyright.author }}</a>. <a href="{{ site.copyright.type_url }}" target="_blank">{{ site.copyright.type_title }}</a>.</p>
</footer>
<script src="{{ site.baseurl }}/assets/js/smooth-scroll.js"></script>
